*.iml                           
.gradle                         
/local.properties               
!.idea/.gitignore
!.idea/runConfigurations.xml
!.idea/codeStyles/
.DS_Store                       
/build                          
/captures                       
.externalNativeBuild            
.cxx                            
local.properties                
